@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background-theme: #FFFFFF;
  --card-background-color: #FFFFFF;
  --text-default: #000000;
  --placeHolderLengthColor: #7a7a7a;

  /* color */
  --gray-7:#696969;
  --gray-8: #242526;
  --blue-8: #0050b3;
}

[data-theme="dark"] {
  --background-theme: #18191A;
  --card-background-color: var(--gray-8);
  --text-default: #FFFFFF;
  --placeHolderLengthColor: #7a7a7a
}


/* overrides antd */


@media (max-width: 768px) {
  .ant-picker-header-next-btn, .ant-picker-header-super-next-btn {
    visibility: initial !important;
  }

  .ant-picker-panel:nth-child(2) {
    width:0;
  }
}



@media (min-width: 768px) {
  .ant-picker-panel{
    width: 280px!important;
  }

  .ant-picker-panel:first-child .ant-picker-header {
    position: relative;
  }


  .ant-picker-header-prev-btn, .ant-picker-header-view {
    visibility: initial;
  }

}

.ant-picker-body {
  display: block;
}

.ant-card-bordered {
  border:1px solid var(--card-background-color);
}

.ant-card-body {
  background-color: var(--card-background-color);
}

.ant-card-meta-title {
  color: var(--text-default);
}

.ant-card-meta-description {
  color: var(--text-default);
}

.ant-card-hoverable:hover {
  border: solid 1px #696969;
}

